<h1>Profiles#show_user</h1>
<p>Find me in app/views/profiles/show_user.html.erb</p>
<%= user.name %>

<title>Información Usuario</title>

<table border="1">
<tr>
<td>User</td>
<td>Name</td>
<td>Last name</td>
</tr>
<tr>
<td><%= user.user %></td>
<td><%= user.name %></td>
<td><%= user.last_name %></td>
</tr>
</table>